body {
    background-image: url("/static/splash/classy_fabric.png");
    background-repeat: repeat;
}

img.logo {
    display: block;
    margin:auto;
    padding-top: 8%;
    padding-bottom: 2em;
}

.formControl {
    width: 400px;
    margin:auto;
    position: relative;
}

.formControl > *{
    display: block;
    margin:auto;
    height: 70px;
    margin-top: 20px;
    font-family: "Courier New", Courier, monospace;
    font-size: 1.5em;
    font-weight: bold;
    width: 100%;
}

.formControl > button {
    background-color: #dddddd;
}

.formControl label {
    color: #dddddd;
    padding-bottom: 0em;
    height: 1em;
}

.formControl input {
    padding-left: 0.5em;
    box-sizing: border-box;
}

p.gameCodeShower {
    color: #dddddd;
    text-align: center;
    height: auto;
}
p.gameCode {
    font-size: 4em;
    color: #dddddd;
    text-align: center;
}

button.backButton {
    width: 70px;
    padding-left: 0em;
    position: absolute;
    right: 17.5em;
    margin: 0;
    top: 1.8em;
    background-color: Transparent;
    border: none;
    outline:none;
}

button.backButton > img {
    height: 90%;
}
