body {
    background-image: url("/static/splash/classy_fabric.png");
    background-repeat: repeat;
}

img.logo {
    display: block;
    margin:auto;
    padding-top: 8%;
    padding-bottom: 2em;
}

.formControl > *{
    display: block;
    margin:auto;
    width: 400px;
    height: 70px;
    margin-top: 20px;
    font-family: "Courier New", Courier, monospace;
    font-size: 1.5em;
    font-weight: bold;
}

.formControl > button {
    background-color: #dddddd;
}

.formControl label {
    color: #dddddd;
    padding-bottom: 0em;
    height: 1em;
}

.formControl input {
    padding-left: 0.5em;
    box-sizing: border-box;
}
